

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    color: white;
    text-align: center;
    overflow: hidden;
    background-color:#080808;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    place-content: center;
    align-items: center;
    overflow: visible;
  }

  .content {
    position: relative;
    z-index: 2;
  }
  
  .highlight {
    color: #6c63ff;
  }


  .triangle {
    width: 0; 
    height: 0;
    border-left: 200px solid transparent;
    border-right: 400px solid transparent;
    border-bottom: 200px solid #13c8e7;
    filter: blur(150px);
  }

  .circle {
    width: 300px; 
    height: 300px; 
    background-color: #18bd09ce; 
    border-radius: 50%; 
    filter: blur(180px);
  }

  .square {
    width: 310px;
    height: 300px;
    background-color: #9c10a8;
    filter: blur(200px);
  }
  .square2 {
    top: 0; 
    right: 0;
    width: 310px;
    height: 300px;
    background-color: #fdf900;
    filter: blur(200px);
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .gradient {
    --size: 750px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    position: absolute;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    z-index: 1; 
  }
  
  @media (min-width: 720px) {
    .gradient {
      --size: 500px;
    }
  }
  * {
    transition: all 0.5s ease-out;
  }